.service__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}
.service__content{
    background-color: var(--color-bg-variant);
    border-radius: 0 0 2rem 2rem;
    border:2px solid var(--color-primary);
    transition: var(--transition);

}

.service__content:hover{
    background-color: transparent;
    border-radius: 0 0 2rem 2rem;
    border-color: var(--color-primary);
    cursor: default;
}
.service__header{
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.service__header h3{
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
}

.service__list{
    padding: 2rem;
}
.service__list p{
   font-size: 0.9rem;
}
.service__list li{
    display: flex;
    gap: 1rem;
    margin-bottom: 0.2rem;
}
.service__list-icon{
    color: var(--color-primary);
    margin-top:2px ;
}


/**********MEDIA QUERIES (MEDIUM SIZE --TABLET) *****/
@media screen and (max-width: 1024px) {
    .service__container{
        grid-template-columns:1fr 1fr;
        gap: 2rem;
    }
    
   
  }
  /**********MEDIA QUERIES (SMALL SIZE --TABLET) *****/
  
  @media screen and (max-width: 600px) {
    .service__container{
        grid-template-columns:1fr;
        gap: 1.5rem;
    }
   
  }