.about__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}

.about__me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(45deg, transparent, var(--color-primary));
  display: grid;
  place-items: center;
  
}

.about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(15deg);
  transition: var(--transition);
}
.about__me-image:hover {
  transform: rotate(0deg);
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.about__card {
  background: var(--color-bg-variant);
  padding: 1rem 2.5rem;
  border: 1px solid transparent;
  border-radius: 1.5rem;
  text-align: center;
  transition: var(--transition);
}
.about__card:hover {
  background: var(--color-primary);
  border-color: whitesmoke;
  cursor: default;
  backdrop-filter: blur(75%);
}
.about__icon {
  color: black;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.about__card h5 {
  font-size: 1rem;
}
.about__card small,
.about__card a {
  font-size: 0.7rem;
  color: black !important;
  font-weight: 500;
}
.about__content p {
  color: var(--color-white);
  text-align: justify;
  margin: 0.5rem 0.5rem;
}

/**********MEDIA QUERIES (MEDIUM SIZE --TABLET) *****/

@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0%;
  }
  .about__me {
    width: 50%;
    margin: 2rem auto 4rem;
  }
  .about__content p {
    margin: 1rem 0 1, 5rem;
  }
}

/**********MEDIA QUERIES (SMALL SIZE --TABLET) *****/

@media screen and (max-width: 600px) {
   
  .about__me {
    width: 60%;
    margin: 0rem auto 3rem;
  }
  .about__cards {

    grid-template-columns:1fr ;
    gap: 1rem;
  }
  .about__content{
    text-align: center;
  }
  .about__content p{
    margin: 1.5rem 0 ;
  }
}
