@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
header {
  height: 100vh;
  padding-top: 5rem;
  overflow: hidden;
}

.header__container {
  height: 100%;
  text-align: center;
  position: relative;
}

/********* CTA **********/

.cta {
  margin-top: 2rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/************ SOCIALS ICON ********/

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after,
.header__socials::before {
  content: "";
  width: 2px;
  height: 4rem;
  background-color: var(--color-primary);
}

/************ ME ************/
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 20rem;
  height: 40rem;
  position: absolute;
  left: calc(50% - 10rem);
  margin-top: 1rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 2rem 2rem 2rem;
}

/*********** SCROLL DOWN ****************/

.scroll__down {
  position: absolute;
  right: -2rem;
  bottom: 3rem;
  transform: rotate(90deg);
  font-weight: 400;
  font-size: 0.9rem;
}

/**********MEDIA QUERIES (MEDIUM SIZE --TABLET) *****/
@media screen and (max-width: 1024px) {
  header {
    height: 100vh;
  }

  .me {
    margin-top: 2rem;
  }
}

/**********MEDIA QUERIES (SMALL SIZE --TABLET) *****/

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .me {
    margin-top: 3rem;
  }
  .header__socials,
  .scroll__down {
    display: none !important;
  }
}
