nav{
    background: rgba(0, 0,0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.9rem;
    position: fixed;
    left: 50%;
    transform:translateX(-50%);
    bottom: 1.5rem;
    display: flex;
    gap: 1rem;
    border-radius: 3rem;
    backdrop-filter:blur(15px);
    z-index:5;
}
nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    color: var(--color-light);
    display: flex;
    font-size: 1.1rem;
}
nav a:hover{
    background:rgba(0,0,0,0.3); 
    font-size: 1.5rem;
      
}
nav a.active{
    background:var(--color-primary); 
    color: var(--color-white); 
    font-size: 1.5rem; 
}